.bat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bat-top {
  display: flex;
  margin-top: 4rem;
}

.bat-top-left {
  flex: 1;
}

.bat-team {
  height: 65vh;
  width: 70%;
  background: var(--darkblue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  /* justify-content: ; */
}

.bat-team > :nth-child(1) {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.bat-team-item {
  border: 1px solid white;
  width: 85%;
  text-align: center;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.bat-team-item > :nth-child(1) {
  /* background-color: var(--pinkred); */
  width: 90%;
  display: flex;
}

.bat-top-right {
  flex: 3;
}

.bat-top-right > :nth-child(2) {
  /* background: yellow; */
  display: flex;
  gap: 3rem;
  padding-left: 4rem;
}

/* .currentBatsmanBox {
  background: rgba(218, 112, 214, 0.073);
  height: 5rem;
  padding-left: 5px;
} */

.bat-heading {
  background: var(--darkblue);
  color: white;
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-left: 15rem;
  font-weight: 600;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
}

.bat-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 95.8vw;
  background: var(--pinkred);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.bat-footer > :nth-child(1) {
  font-size: 3rem;
  font-weight: bold;
}
.bat-footer > :nth-child(2) {
  font-size: 1.5rem;
}
.bat-footer > :nth-child(3) {
  font-size: 3rem;
  font-weight: bold;
}

.bat-buttons {
  margin-top: 2rem;
  margin-left: 6rem;
  /* padding-top: 2rem; */
  /* padding-left: 6rem; */
  /* background: orangered; */
  width: fit-content;
}
.bat-button-group {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.bat-button {
  height: 5rem;
  width: 5rem;
  border: none;
  background: white;
  box-shadow: -2px 5px 10px 0.5px rgba(0, 0, 0, 0.15);
  color: var(--darkblue);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.bat-button:hover {
  height: 5rem;
  width: 5rem;
  border: none;
  background: var(--darkblue);
  box-shadow: -2px 5px 10px 0.5px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.bat-supreme-button {
  color: var(--pinkred);
  background-color: white;
}
.bat-supreme-button:hover {
  color: white;
  background-color: var(--pinkred);
}
